<div class="pull-right" id="imgZ" style="width:75px; min-height:75px;">
		<%= image_tag current_user.image, class: "img-responsive img-circle" %>
</div>
<div class="pull-left">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Deliver</a></li>
  <li role="presentation"><%= link_to "Pick-up", paqs_pickup_path %></li>
</ul>
</div><br /><br /><br />
<div class="cust-mob-body-text">
<h2>NextPakk Que</h2>
<p class="mobile-para">Online purchases sent to your NextPakk
address will show up here when they're ready
to be delivered.</p>
</div>




