

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="sticky.css" />
  </head>

  <body>
    <div class="navbar navbar-fixed-top" style="display: none;">
      <div class="navbar-inner">
        <div class="container" style="display: none;">
          <a class="brand" href="#">EngineerGio's Sticky Bootstrap</a>
        </div>
      </div>
    </div>  
    <div class="container">
      <div class="content">

        <div class="wrapper">
          <div class="proper-content">
            <div class="row">
              <div class="span12">
      <div class="row" style="margin-top: -40px !important;">
    <div style="background-color:orange !important; height:300px;">
      <div class="col-1g-1 tile-icon-lrg" style="background-color:#00f; height:300px; width:100%; border-right: 1px solid;">
          Nextpakk
        </div>
      
  </div>
  </div>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <div class="step1">
                    <h2></h2>
                    <p class="mobile-para">
                    <h2 style="text-align: center;">Smart, Secure, Convenient</h2>

                          <span class="mobile-para">Shedule delivery at your convenience and when your're home, 7 days a week between 6 and midnight. No more missed delivery or stolen packages </span>
                    </p>
 
                    
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
<!-- /#wrapper -->

              </div>
            </div>
          </div><!-- /.proper-content -->

          <div class="push"></div>

        </div><!-- /.wrapper -->

        <div class="footer-wrapper">
          <footer>


          <div class="col-lg-12">
                        <div class="row">
                          <div style="background-color:transparent !important; height:50px;">
                              
                              <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:50%; float:left; ">
                                  <span style="color: #b0b0b0 !important; ">| </span>| | | | | 
                              </div>
                              <div class="col-1g-9 tile-icon-sm" style="background-color:#0f0; height:70px; width:50%; float:left;"">
                                  <a href="/paqs/how2" class="cust-block-icons" style="color: orange !important;">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
                              </div>
                          </div>
                      </div>
                </div>


          </footer>
        </div>
      </div>
    </div>
  </body>
</html>




<script type="text/javascript">
  
  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy'
    

});
</script>


