<div class="container">
      <div class="content">
        <div class="wrapper">
          <div class="proper-content">
            <div class="row">
              <div class="span12">
             <div class="row" style="background: orange !important; margin-top: 0px!important;">
              <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">             
                    <div class="icon">
                      <div class="image"><i class="glyphicon glyphicon-map-marker"></i></div>
                      <div class="info">
                        
                        <p>
                          <div class="cust-mob-body-text">
                                  <h2 style="color: white !important;">NextPakk Address</h2>
                                  <p class="mobile-para" style="text-align: left !important; color: white !important;">
                                  <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %>
                                  3601 25th Ave S.<br />
                                  NextPakk #<%= current_user.packs_num %><br />
                                  Minneapolis, MN 555406  
                                  </p>
                          </div>
                        </p>
                            
                          </div>
                        </div>
                        <div class="space"></div>
                      </div> 
                    </div>
                </div>

                  <div id="throbber" style="display:none; min-height:120px;"></div>
                  <div id="noty-holder"></div>

                  <div id="wrapper">
                   
                      <div id="page-wrapper">
                          <div class="container-fluid">
                              <!-- Page Heading -->
                              <div class="row" id="main" >
                                  <div class="step1">
                                      <h2></h2><br />
                                      
                                      <div class="cust-mob-body-text">
                                        <h3 style="text-align: left !important;"><strong>This is your NextPakk Shipping Address to use when you shop online.</strong></h3>

                                        <h3>You can find it throughout the app so there's no need to commit it to memory.</h3>
                                      
                                        </div>
                              </div>
                              <!-- /.row -->
                          </div>
                          <!-- /.container-fluid -->
                      </div>
                      <!-- /#page-wrapper -->
                  </div><!-- /#wrapper -->
                  </div>
              </div>
            </div>
          </div><!-- /.proper-content -->

          <div class="push"></div>

        </div><!-- /.wrapper -->

        </div>
</div>

 <div id="footer">
      <div class="container">
        <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:70%; float:left; ">
            | <span style="color: #b0b0b0 !important; ">|</span> | | | |
        </div>
        <div class="col-1g-9 tile-icon-sm" style="background-color:#0f0; height:70px; width:30%; float:left;"">
          <a href="/paqs/how3" class="cust-block-icons" style="color: orange !important;">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>  
      </div>
</div>