<div class="container">

    <div class="container">
        <div class="content">
          <div class="wrapper">
            <div class="proper-content">
              <div class="row">
                <div class="span12">
                       <div class="row" style="background: orange !important; margin-top: 0px !important;">
                          <div class="col-xs-12 col-sm-6 col-lg-4">
                              <div class="box">             
                                <div class="icon">
                                  <div class="image"><i class="glyphicon glyphicon-shopping-cart"></i></div>
                                  <div class="info" style="background: transparent !important;">
                                    <form class="form-inline">
                                      <div class="form-group">
                                        <br /><label for="exampleInputName2">Full Name</label>
                                        <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder='<%=current_user.first_name %> <%= current_user.last_name %>' style="width: 70%!important; float: right !important;">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputName2">Address1</label>
                                        <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder="3601 25th Ave S." style="width: 70%!important; float: right !important;">
                                      </div>
                                    <% @myaddr = current_user.packs_num %>
                                      <div class="form-group">
                                        <label for="exampleInputName2">Address2</label>
                                        <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder='NextPakk #<%= @myaddr %>' style="width: 70%!important; float: right !important;">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputName2">City</label>
                                        <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder="Minneapolis" style="width: 70%!important; float: right !important;">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputName2">MN</label>
                                        <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder="MN" style="width: 70%!important; float: right !important;">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputName2">55406</label>
                                        <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder="55406" style="width: 70%!important; float: right !important;">
                                      </div>
                                  </form>
                                  </div>
                                </div>
                                <div class="space"></div>
                              </div> 
                            </div>
                        </div>
                            <div id="wrapper">
                                <div id="page-wrapper">
                                    <div class="container-fluid">
                                        <!-- Page Heading -->
                                        <div class="row" id="main" >
                                            <div class="step1">
                                                <h2></h2><br />
                                                <div class="cust-mob-body-text">
                                                  <h3 style="text-align: center; !important;"><strong>Use your NextPakk address for your shipping addresss when you shop online</strong></h3>
                                                
                                                  </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </div>
                                <!-- /#page-wrapper -->
                            </div>
                    <!-- /#wrapper -->
                    </div>
                </div>
              </div>
            </div><!-- /.proper-content -->

            <div class="push"></div>

          </div><!-- /.wrapper -->
          </div>
        </div>
<div id="footer">
      <div class="container">
        <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:70%; float:left; ">
            | | <span style="color: #b0b0b0 !important; ">| </span>| | |
        </div>
        <div class="col-1g-9 tile-icon-sm" style="background-color:#0f0; height:70px; width:30%; float:left;"">
          <a href="/paqs/how4" class="cust-block-icons" style="color: orange !important;">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>  
      </div>
</div>