<div class="container">
      <div class="content">
        <div class="wrapper">
          <div class="proper-content">
            <div class="row">
              <div class="span12">
<div class="row  well" style="background: orange !important; margin-top: -40px !important;">

                    <div class="row  well" style="background: orange !important; margin-top: -0px !important;">
                    <div class="col-xs-12 col-sm-6 col-lg-4 " >
                        <div class="box">             
                          <div class="icon">
                            
                            <div class="info">
                              <p class="info" style="width: 210px; margin: 0 auto !important;">
                              <%= image_tag "https://s3.amazonaws.com/nextpakkweb/how5.png", class: "img-responsive " %>
                              </p>
                            </div>
                          </div>
                          <div class="space"></div>
                        </div> 
                      </div>
                      </div>
                      <div id="wrapper">
                <div id="page-wrapper">
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <div class="row" id="main" >
                            <div class="step1">
                                <h2></h2>
                                <div class="cust-mob-body-text">
                                  <h3 style="text-align: center !important;"><strong>Schedule a day and time that's convenient for you.</strong></h3>
                                  </div>
                                <div class="col-lg-12">
                                  <div class="row">
                                  <div style="background-color:transparent !important; height:50px;">
                                    <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:33%; float:left; ">
                                </div>
                          </div>
                          </div>
                        </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                  </div>
                <!-- /#page-wrapper -->
                </div><!-- /#wrapper -->
            </div>

              </div>
            </div>
          </div><!-- /.proper-content -->

          <div class="push"></div>

        </div><!-- /.wrapper -->

        </div>
        </div>
</div>
<div id="footer">
      <div class="container">
        <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:70%; float:left; ">
              | | | | <span style="color: #b0b0b0 !important; ">|</span> | 
        </div>
        <div class="col-1g-9 tile-icon-sm" style="background-color:#0f0; height:70px; width:30%; float:left;"">
              <a href="/paqs/how6" class="cust-block-icons" style="color: orange !important;">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
</div>