
    <div class="container">
      <div class="content">
        <div class="wrapper">
          <div class="proper-content">
            <div class="row">
              <div class="span12">
                 <div class="step1" style="margin-top: 0px !important;">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <video autoplay class="embed-responsive-item">
                            <source src="https://s3.amazonaws.com/nextpakkweb/58425766_1080p.mp4" type="video/mp4">
                            
                        </video>
                    </div>

                    <br /><h2 class="cust-head-subhead-text" style="text-align: center; color: orange !important;">Smart, Secure and Convenient</h2>
                    <h4 class="cust-head-subhead-text">NextPakk delivers your package when you're availabe and at home.
                    </h4>
                    </div><br />

              </div>
            </div>
          </div><!-- /.proper-content -->

          <div class="push"></div>

        </div><!-- /.wrapper -->
    </div>
</div>
        
<div id="footer">
      <div class="container">
        <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:70%; float:left; ">
            | | | | | <span style="color: #b0b0b0 !important; ">| </span>
        </div>
        <div class="col-1g-9 tile-icon-sm" style="background-color:#0f0; height:70px; width:30%; float:left;"">
            <a href="/paqs/address" class="cust-block-icons" style="color: orange !important;">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
</div>