<div class="step1">
  <div class="mobile-body">
	  <h1>NextPakk</h1>
	  <h4>The Smart, Secure, Convenient way for package delivery! "We've Got Your Pack"
	  </h4><br />
  </div>
  
		  <%= link_to "login", new_user_session_path, class: "btn btn-info" %>
		  <%= link_to "sign up", new_user_registration_path, class: "btn btn-info " %>
		
</div>