<p>Thank You for Your Order</p>

<blockquote><%= "Please click on the order to login and view your order details." %><h4><a href="http://www.nextpack.delivery">order</a></h4></blockquote>

<div >

</div>