<h1>New NextPakk Delivery </h1>

<blockquote>
<% @newOrder = Order.last %>

<h2>Pre-Delivery Details</h2>

ORDER#: <%= @newOrder.id%>01<br />
Qty: <%= @newOrder.order_qty %><br />
DESCRIPTION: <%= @newOrder.order_description%><br />
SIZE: <%= @newOrder.order_size %><br />

<h4><a href="http://www.nextpack.delivery">gonextpakk.com</a></h4>
</blockquote>

<div >

</div>