<p>Thanks!</p>

<%= 'This is your receipt' %>

<div >
<h2>RECEIPT</h2>

<p>Item	Price	Quantity	Totals</p>I
<p>IDelivery-Small	$1.00	1	$1.00</p>I
<p>ITrip	$3.99	1	$3.99</p>I
<p>ISubtotal	$4.99</p>I
<p>ITotal	$4.99</p>I
</div>