.jumbotron {
	background-color: #f9ab23 !important;
	border: 1px solid #0069ff;	

	h1{
	color: #0069ff !important;
	}

	h3{
	color: #f9ab23;
    font-weight: bold !important;
    	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1x 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;

	}

	h2{
	color:#0069ff !important;
	font-weight: bold;
	}
}

.navbar-default {
	.container-fluid {	
	background-color: #ffffff;
	.navbar-nav > li > a{
	color:#000000;
	font-size: 16px;
	font-weight: bold;
	}
	.navbar-brand {
	color:#f9ab23;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Days One', sans-serif;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1x 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
	}
	}
}

.container-fluid {
	padding: 10px 120px !important;

}

.jumbotron {
background-image: url("https://s3.amazonaws.com/nextpakk/Delivery-man-makes-his-rounds.jpg");
background-size: cover;}

.nav-tabs>li>a {
	text-decoration: none !important;
}

.navbar-default .container-fluid .navbar-brand {
	text-decoration: none !important;
}

.navbar-nav > li > a  {
	text-decoration: none !important;
}

a,a:link, a:visited {
	text-decoration: none !important;
}

@media(max-width:767px){
	.jumbotron{
	display:none;
	}
	.container-fluid{
	background: #f9ab23;
	color: white !important;
	}

	.mobile-body{
	color:white !important;
	}

	.mobile-body a{
	text-decoration: none !important;
	}

	.mobile-body h1, h2, h3, h4{
	color:white !important;
	}


	.custom-ftr{
	display:none;
	}
	.custom-ftr-mobile{
		display:block !important;
	}
	.mobile-para{
		color:whitesmoke !important;
	}
	.cust-mob-body-text{
		text-align: center !important;
	}
	.cust-head-subhead-text{
	color: white !important;
	}

	table {
        width:95%;
    }
    form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
        width:100% !important;
    }

    .container-fluid {
    padding: 0px 10px !important;
    }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}