<p>Thank You for Your Order</p>

<blockquote><%= "Please click on the purchase link to login and view your order details." %><h4><a href="http://www.nextpack.delivery">purchase</a></h4></blockquote>

<div >

</div>