<div class="custom-ftr"><%= image_tag "https://s3.amazonaws.com/nextpakkweb/app-header-image-web-app-1200w.jpg", class: "img-responsive" %> </div><br /><br />


<div class="custom-ftr-mobile" style="display: none;"><%= image_tag "https://s3.amazonaws.com/nextpakkweb/app-footer-image-web-app-mobile-gold.png", class: "img-responsive" %> </div><br /><br />

<p>copyright 2016 NextPakk LLC.</p>